.Heading {
    text-align: center;
    height: 100vmin;
    background-color: black;
  }
  
  #text {
    font-size: medium;
  }
  
  #header1-container {
    display: flex;
    justify-content: center;
  }
  
  .header1 {
    color:rgb(0, 0, 0); 
    background-color: white;
    font-size: 20pt;
    border-style: none;
    border-width: 20px;
    border-color: black;
  }
  
  .info-container {
    display: flex;
    justify-content: flex-start;
    color:black;
    background-image:radial-gradient(#fff, 0%, #3b58db9a 50%);
    border-color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 12pt;
    text-align: start;
    padding: 10px;
    margin: 5px;
    width: 90%;
  }
  
  .button {
    border-Radius: 1mm;
    padding-bottom: 1mm;
    padding-top: 1mm;
  }
  
.tracker-container {
    display: flex;
    justify-content: flex-start;
    color:black;
    background-image:radial-gradient(#fff, 0%, #4b628bb9 50%);
    border-color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 11pt;
    text-align: start;
    padding: 20px;
    margin: 5px;
    width: 45%;
    height: 100mm;
  }
#hopeful {
    margin-left: 450px;
}